{% extends "base.html" %}

{% block content %}
<h1 class="f2 f-subheadline-l measure lh-title fw6 tc blue">Your {{ habit.name|title }} history</h1>
<p>
  Your daily goal for {{ habit.name|title }} is {{ habit.habit_goal }} {{ habit.units }}.
</p>
<p>
  The most {{ habit.units }} for one day is {{ habits_plus.best_day }}!
</p>
<p> Your average {{habit.units}} per day was {{ habit_avg.avg_day }}</p>
<p>Your first attempt for {{habit.name}} was on {{ oldest_record }}!</p>

<div class="flex flex-row">
  <div class="fl w-50 ">
    <p class="f4 measure">Your past records</p>
  </div>
  <div class="fl w-50 tr v-base">
    <p><a class="f4 measure" href="{% url 'record_create' habit_pk=habit.pk %}">Add or update a record</a></p>
  </div>
</div>
<hr>
<table class="f6 w-100 mw8 center" cellspacing="0">
  <thead>
    <tr class="stripe-dark">
      <thead>
        <tr class="stripe-dark">
          <th class="fw6 tl pa3 bg-white">Date</th>
          <th class="fw6 tl pa3 bg-white">{{ habit.units|title }}</th>
          <th class="fw6 tl pa3 bg-white">Goal Reached</th>
        </tr>
      </thead>
  <tbody class="lh-copy">
    {% for record in all_records %}
    <tr class="stripe-dark">
      <td class="pa3">{{ record.record_date }}</td>
      <td class="pa3">{{ record.num_actions }}</td>
      {% if habit.habit_type %}
      {% if record.num_actions >= habit.habit_goal %}
      <td class="  bg-green pa3">You did it!</td>
      {% else %}
      <td class="bg-red pa3">Keep trying!</td>
      {% endif%}
      {% else %}
      {% if record.num_actions <= habit.habit_goal %}
      <td class=" bg-green pa3">You did it!</td>
      {% else %}
      <td class="bg-red pa3">Keep trying!</td>
      {% endif %}
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}