{% extends "base.html" %}
{% block title %}Homepage{% endblock%}

{% block content %}
<article class="cf vh-100 dt w-100 bg-white flex flex-column flex-row-ns">
    <div class="fl w-100 w-50-ns dtc v-mid tr blue ph3 pt5 ph4-l ">
        <h1 class="f5 f2-m f-subheadline-l fw6 tr">Ice&nbspViper</h1>
        <!-- <h1 class="f5 f2-m f-subheadline-l fw6 tc">Viper</h1> -->
        <h1 class="f5 f2-m f-subheadline-l fw6 tr">Habit</h1>
        <h1 class="f5 f2-m f-subheadline-l fw6 tr">Tracker</h1>
    </div>
    <div class="fl w-100 w-50-ns bg-white v-mid pt6 tl ">
        <h4 class="f6 f2-m f-subheadline-l fw6 tl pl5 pt2">
            <a class="f6 link dim ba bw2 ph3 pv2 mb2 dib blue" href="/user_habits">Start Tracking</a>
        </h4>
    </div>
</article>
{% endblock %}